<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/new/shartnoma.min.css">
    <title></title>
</head>
<body>
<div id="body">
    {% for information in info.data %}
    <h3>ШАРТНОМА №{{ year }}/{{ student.id }}</h3>
    <div id="bus_year">
    <p id="basic"><b>(нодавлат таълим муассасасида мактабдан ташқари таълимни амалга ошириш тўғрисида)</b></p>
        <p id="bustonliq_tumani"><b>Бўстонлиқ тумани</b></p>					<p id="year"><b>{{ information.ot }}</b></p>
    </div>
<p>
    Ўзбекистон Республикаси Президентининг 15.09.2017 йилдаги ПҚ-3276 сонли “Нодавлат таълим хизматлари кўрсатиш фаолиятини янада ривожлантириш чора-тадбирлари тўғрисида”ги қарорига асосан, шунингдек 11.08.2019 йилдаги
    № МТТ 0428 Лицензияга асосан ҳамда таълим муассасаси Уставига асосан фаолият юритувчи “GENNIS CAMPUS” нодавлат таълим муассасаси (келгусида “Нодавлат таълим муассасаси” деб юритилувчи)  номидан директор Юлдашов М.М. бир томондан ва <b>{{ student.vakilning_familyasi }} {{ student.vakilning_ismi }} {{ student.vakilning_otchestvasi }}</b>
                      (ўқувчининг ота-онаси ёхуд бошқа қонуний вакилининг фамилия исм шарифи)
             (келгусида “Ўқувчининг қонуний вакили” деб юритилувчи) иккинчи томондан қуйидагилар тўғрисида мазкур шартномани туздилар.
</p>

    <h4>1.ШАРТНОМА МАЗМУНИ</h4>

<p>1.1 .Мазкур шартномага асосан ўқувчининг ота-онаси (ёки қонуний вакили) нодавлат таълим муассасасига мактабдан ташқари таълим олиш мақсадида ўзининг вояга етмаган фарзанди  (ёки қонунийҳомийлигидаги, васийлигидаги вояга етмаган шахс)<b>{{ student.name }} {{ student.surname }} {{ student.otasining_ismi }}</b> ни
                        (ўқувчининг тўлиқ исм фамилияси, отасининг исми)
    белгиланган тўловларни тўлаб бориш шарти билан,{% if group1 %} <b>тегишли фан: {{ group1.subject }}{% endif %}{% if group2 %}, {{ group2.subject }}{% endif %}{% if group3 %}, {{ group3.subject }}{% endif %}</b> йўналиши бўйича мактабдан ташқари таълим олиши учун “Нодавлат таълим муассасаси”га ўқишга топширади.
    <br>
1.2.“Нодавлат таълим муассасаси” ўзининг мактабдан ташқари таълим бериш фаолиятини таълим муассасасининг Усави, лицензияси ҳамда Ўзбекистон Республикасининг амалдаги қонунчилигида ва бошқа қонуний меъёрий хужжатларида белгиланган тартибда амалга оширади.
    <br>
1.3.“Нодавлат таълим муассасаси” ота-онанинг ёки вояга етмаган шахснинг қонуний вакилининг аризасига ҳамда мазкур шартномага асосан вояга етмаган ўқувчини  мактабдан ташқари таълим олиши учун ўқишга қабул қилади ва белгиланган ўқув дастури (программаси) ҳамда давлат стандартларида белгиланган тартибда тегишли фандан қўшимча дарс бериб ўқитилишини таъминлайди.
    <br>
1.4.Вояга етмаган ўқувчини нодавлат таълим муассасасида ўқитиш пуллик асосда амалга оширилади. Ўқувчининг ўқиш тўловлари мазкур шартномани имзолаган шахс томонидан ҳар ой давомида амалга оширилиб борилади. Ўқиш учун тўловлар мазкур шартнома билан белгилаб берилади.
</p>
    <h4>2.ҲИСОБ-КИТОБ ШАКЛИ</h4>
    <p>
        2.1.Ўқувчининг нодавлат таълим муассасасида таълим олиши учун бир ойлик тўлов суммаси:{% if group1 %}<b>({{ group1.subject }}: {{ group1.cost }}), {% endif %}{% if group2 %}({{ group2.subject }}: {{ group2.cost }}), {% endif %}{% if group3 %}({{ group3.subject }}: {{ group3.cost }}){% endif %} {% if group1 and not group2 and not group3 %}{{ sum1 }} {% endif %}{% if group1 and group2 and not group3 %}{{ sum2 }} {% endif %}{% if group1 and group2 and group3 %}{{ sum3 }} {% endif %}сўмни</b> ташкил этади.
        <br>
2.2.Ойлик тўлов ўқиш бошланишидан аввал ҳар ойнинг 10-санасидан кечиктирмай тўланади. Тўлов усули исталган усулда малга оширилиши мумкин (яъни нақд пул тўлови, пластик карта ва пул ўтказиш йўли билан).
        <br>
2.3.Ойлик тўлов Ўзбекистон Республикасида белгиланган меҳнатга ҳақ тўлашнинг энг кам миқдоридан келиб чиққан ҳолда “Нодавлат таълим муассасаси” томонидан белгиланади.
        <br>
2.4.Ўзбекистон Республикасида белгиланган меҳнатга ҳақ тўлашнинг энг кам миқдори ошган ҳолларда ўқиш учун тўлов миқдорига ҳам шунга мутаносиб равишда ўзгартириш киритилиб, тўлов миқдори “Нодавлат таълим муассасаси” томонидан бир томонлама оширилади.
    </p>







<h4>3.ТОМОНЛАРНИНГ ҲУҚУҚЛАРИ</h4>
    <p>
3.1. ”Нодавлат таълим муассасаси”нинг ҳуқуқлари:
        <br>
3.1.1. Ўқув муассасасининг таълим бериш программасини, дарс жадвалларини, вақтларини мустақил ишлаб чиқиш;
        <br>
3.1.2. Мактабдан ташқари таълим бериш, ўқувчиларнинг дам олиш вақтларини мустақил белгилаш;
        <br>
3.1.3. Ўқитувчиларнинг иш вақтларини мустақил тақсимлаш;
        <br>
3.1.4. Таълим бериш программасида белгиланган вақтларда ўқувчилардан назорат иши, назорат тестлари олиш;
        <br>
3.1.5. Асоссиз равишда кетма-кет 3(уч) кун дарс қолдирган ёки белгиланган топшириқларни мунтазам бажармаган, назорат (блок) тест синовларидан кетма-кет 2 (икки) марта ўта олмаган яъни 60% натижадан паст кўрсаткичга эга бўлган ўқувчиларнинг ота-оналари (қонуний вакиллари) билан тузилган шартномани бир томонлама бекор қилиш;
        <br>
3.1.6. Ўқувчи томонидан таълим муассасасига (мактабга) етказилган моддий зарарни ўқувчининг ота-онаси ёки қонуний вакилидан ундириш;
        <br>
3.1.7. Ўқувчининг ота-онаси ёки қонуний вакилига ўқувчининг мактабдан ташқари таълим олиши бўйича қўшимча таклифлар бериш;
        <br>
3.1.8. Кичик (7-10) ёшдаги ўқувчиларни ота-оналари ёки қонуний вакиллари томонидан мактабдан ташқари ўқишга олиб келиш ва ўқишдан сўнг олиб кетишларини таъминлашни талаб қилиш;
        <br>
3.2. “Ўқувчининг қонуний вакили” (ота-онаси)нинг ҳуқуқлари:
        <br>
3.2.1. Мактабдан ташқари таълим олаётган фарзандининг таълим жараёни, ўқув машғулотлари билан танишиб бориш, мактаб маъмурияти, ўқитувчилардан фарзандининг ўқиши тўғрисида тегишли маълумотлар олиш;
        <br>
3.2.3. Фарзандининг таълим олиш жараёни юзасидан тегишли таклифлар бериш;
        <br>
3.2.4. Фарзандининг қайси фан бўйича мактабдан ташқари таълим олишини мустақил танлаш;
        <br>
3.2.5. Ота-оналар мажлисларида иштирок этиш;
        <br>
3.2.6. Фарзандининг қонуний ҳуқуқларини ҳимоя қилиш;
    </p>
    <h4>4.ТОМОНЛАРНИНГ МАЖБУРИЯТЛАРИ</h4>
    <p>
4.1.”Нодавлат таълим муассасаси”нинг мажбуриятлари:
        <br>
4.1.1. Ўқув-таълим бериш жараёнини ўзи томонидан ишлаб чиқилган программа асосида ўқув режаси ва дастурларга мувофиқ белгиланган вақтда, жадвал асосида ўтказиб борилишини таъминлаш;
        <br>
4.1.2. Синф хоналарини белгиланган стандартлар асосида жиҳозлаш, ўқувчиларнинг қулай шарт-шароитларда таълим олишларини таъминлаш;
        <br>
4.1.3. Нодавлат таълим муассасасини санитария нормалари ва қоидалари, ёнғин хавфсизлиги талаблари даражасида бўлишлигини таъминлаш;
        <br>
4.1.4. Ўзбекистон Республикасининг амалдаги қонунчилиги билан таъқиқланган, таълим стандартлари талабларига жавоб бермайдиган ўқув тизимини ташкил этмаслик;
        <br>
4.1.5. Ҳар бир ўқувчини ўзининг йўналиши бўйича ўқитилишини таъминлаш;
        <br>
4.1.6. Ўқувчиларнинг билим савиясини ва кўникмаларини ошириб бориш, билимларини доимий назорат қилиб туриш ҳамда Ўзбекистон Республикасининг “Таълим тўғрисида”ги Қонуни, “Кадрлар тайёрлаш миллий дастури” шунингдек таълим муассасаси Низомида назарда тутилган зарур шарт-шароитларни яратиш;
        <br>
4.1.7. Ўқув-таълим жараёнида юз берган ўзгаришлар, ўқувчининг хулқ-атвори, дарс ўзлаштириши, дарс жадвалларидаги ўзгартиришлар, шартнома шартларининг ўзгариши ҳамда таълим муассасаси фаолиятига алоқадор бўлган бошқа ўзгартириш ва қўшимчалар, янгиликлар тўғрисида ота-оналарни ўз вақтида хабардор қилиш;
        <br>
4.1.8. Ота-оналарнинг (ёки қонуний вакилларнинг) фарзандини таълим олиш жараёни билан танишишлари учун шароит яратиб бериш;
        <br>
4.1.9. Нодавлат таълим муассасасида ўқувчиларни ўқитиш жараёнида ўқувчиларнинг хаёти ва соғлигига зиён етказилмаслигини таъминлаш. (Изоҳ: Ўқувчиларнинг соғлиги ва хаётига табиий офатлар ҳамда бошқа табиий тусдаги енгиб бўлмас куч сабабли фавқулодда ҳолатлар оқибатида  зиён етказилганлиги учун нодавлат таълим муассасаси маъмурияти жавобгар бўлмайди.)
        <br>
4.1.10. Нодавлат таълим муассасаси ўқитувчиларининг ўз вақтида иш жойида бўлишликларини таъминлаш.
<br>
<br>


4.2. “Ўқувчининг қонуний вакили” (ота-онаси)нинг мажбуриятлари:
        <br>
4.2.1. Фарзандини мактабдан ташқари таълим  олишлиги учун белгиланган жадвал асосида, ўз вақтида нодавлат таълим муассасасида бўлишини таъминлаш;
        <br>
4.2.2. Фарзандини сабабсиз дарс қолдирмаслигини таъминлаш;
        <br>
4.2.3. Мазкур шартнома асосида белгиланган тўловларни ҳар ой давомида ўз вақтида тўлаб борилишини таъминлаш;
        <br>
4.2.4. Фарзандининг хулқ-атвори, дарсларни ўзлаштиришини доимий назорат қилиб бориш;
        <br>
4.2.5. Фарзанди 3(уч) кундан ортиқ касал бўлиб қолган вақтларда тиббий муассасадан маълумотнома тақдим этиш;
        <br>
4.2.6. Оилавий сабабларга кўра бошқа аҳоли яшаш жойига кўчганда, шунингдек фарзанди билан боғлиқ бошқа ҳолатлар (йўл транспорт ҳодисаси, ўлим, оғир касаллик) содир бўлган ҳолларда таълим муассасасини ёзма хабардор қилиш;
        <br>
4.2.7. Оилавий сабабларга кўра ота-онанинг қонуний ажралиш ҳоллари юз берган ҳолларда тегишли суднинг ажрими (қарори) ва фарзандининг ота-онасини қайси бири билан қолганлигини тасдиқловчи хужжат нусхасини таълим муассасасига тақдим этиш;
        <br>
4.2.8. Агар фарзандини ўқитиш имконияти бўлмаса 5 (беш) иш кунидан иборат муддатда “Нодавлат таълим муассасаси” билан тузилган шартномани бекор қилиш тўғрисида ёзма равишда мурожаат қилиш;
        <br>
4.2.9. Фарзандини нодавлат таълим муассасаси ўқитувчиларига нисбатан ҳурмат билан муносабатда бўлишини, дарс машғулотларига ўз вақтида қатнашишини, белгиланган топшириқларни ўз вақтида бажаришини назорат қилиш;
        <br>
4.2.10. Фарзандининг айби билан фарзанди томонидан таълим муассасасига етказилган моддий-маънавий зарарни қоплаш;
        <br>
4.2.11. Ота-оналар мажлисларида ўз вақтида қатнашиш.
    </p>
    <h4>5.ТОМОНЛАРНИНГ ЖАВОБГАРЛИГИ</h4>
    <p>
5.1. Таълим бериш (яъни хизмат кўрсатилиши) муддатлари кечиктириб юборилган, тўлиқ амалга оширилмаган ҳолларда, «Нодавлат таълим муассасаси» «Ўқувчининг қонуний вакили (ота-онаси)» га кечиктирилган ҳар бир кун учун мажбурият бажарилмаган қисмининг 0,5 фоизи миқдорида пеня тўлайди, бироқ бунда пенянинг умумий суммаси амалга оширилмаган хизматнинг 50 фоизидан ошиб кетмаслиги лозим. Пеняни тўлаш шартнома мажбуриятларини бузган тарафни хизмат кўрсатиш муддатларини кечиктириб юбориш, тўлиқ хизмат кўрсатмаслик, ишларни бажармаслик ёки хизматларни кўрсатмаслик оқибатида етказилган зарарни қоплашдан озод этмайди.
        <br>
5.2. «Нодавлат таълим муассасаси» берган талабномасига асосан амалга оширилган (кўрсатилган) хизмат ҳақини ўз вақтида тўламаганлик учун «Ўқувчининг қонуний вакили (ота-онаси)» - «Нодавлат таълим муассасаси» га ўтказиб юборилган ҳар бир кун учун кечиктирилган тўлов суммасининг 0,4 фоизи миқдорида, аммо кечиктирилган тўлов суммасининг 50 фоизидан ортиқ бўлмаган миқдорида пеня тўлайди.
        <br>
5.3. Кўрсатилган хизматларни тан олмаслик, шунингдек «Нодавлат таълим муассасаси» мазкур шартномада белгиланган муддатда (даврда) хизмат кўрсатишни (таълим беришни) амалга оширганда ушбу хизматларни асоссиз равишда рад этганлик учун «Ўқувчининг қонуний вакили (ота-онаси)»  - «Нодавлат таълим муассасаси»га асоссиз қабул қилиб олинмаган хизматлар қийматининг 5 фоизи миқдорида миқдорида жарима тўлайди.
        <br>
5.4.Мазкур шартноманинг 3.1.5.-бандига асосан асоссиз равишда кетма-кет 3(уч) кун дарс қолдирган ёки белгиланган топшириқларни мунтазам бажармаган, назорат (блок) тест синовларидан кетма-кет 2 (икки) марта ўта олмаган яъни 60% натижадан паст кўрсаткичга эга бўлган ўқувчиларнинг ота-оналари (қонуний вакиллари) билан тузилган шартномани бир томонлама бекор қилинади ва жорий ой ўқиши учун тўланган тўлов суммаси «Ўқувчининг қонуний вакили (ота-онаси)»га қайтарилмайди.
        <br>
5.5. Мазкур шартнома бўйича белгиланган ойлик тўловни кетма-кет 2 (икки) ой яъни 60 кун давомида сабабсиз амалга оширмаган (тўламаган) «Ўқувчининг қонуний вакили (ота-онаси)» билан тузилган шартнома «Нодавлат таълим муассасаси» томонидан бир томонлама бекор қилиниб, ўтган ойлар учун тўланмаган тўловлар пеня ҳисобланган ҳолда суд тартибида ундирилади ва ўқувчи таълим муассасасида ўқишдан четлаштирилади.
    </p>
<h4>6.НИЗОНИ ХАЛ КИЛИШ ТАРТИБИ</h4>
    <p>
6.1. Шартнома юзасидан келиб чикадиган барча низолар энг аввало тарафларнинг ўзаро музокараси ва келишуви билан ҳал қилинади.
        <br>
6.2. Мазкур шартнома шартлари юзасидан келиб чиққан низолар бўйича тарафларнинг келишуви билан хал қилиб бўлмайдиган низолар Ўзбекистон Республикасининг амалдаги конун хужжатларида белгиланган тартибда, жавобгар жойлашган  Иқтисодий судда хал килинади.
    </p>
    <h4>7.ШАРТНОМА МУДДАТИ</h4>
    <p>
        7.1.Мазкур шартнома томонлар ўртасида имзоланган кундан бошлаб юридик кучга эга ҳисобланади ва <b>{{ information.do }}</b> га қадар амал қилади.
    </p>
    <h4>8.ФОРС-МАЖОР ХОЛАТЛАРИ.</h4>
    <p>
8.1. «Нодавлат таълим муассасаси» форс-мажор ҳолатлар яъни мажбуриятларни лозим даражада бажариш учун тўсқинлик қилувчи енгиб бўлмас куч таъсири: таълим бериш жараёнида содир бўлган табиий офатлар, зилзила, сув тошкини, фавқулодда уруш эълон килиниши натижасида хизмат кўрсатишнинг имкони йўқлиги ва тарафлар ихтиёрига (эркига) боғлиқ бўлмаган табиий бошқа ҳолатлар натижасида юзага келадиган оқибатлар учун жавобгар бўлмайди. Кайси томон учун форс-мажор ҳолати содир бўлса, ушбу ҳолат хакида иккинчи томонни ёзма равишда огоҳлантириш шарт. Форс-мажор ҳолатлари 1(бир) ой ёки ундан ортик давом этса томонлар шартнома шартларини бажаришдан қисман ёки тўлиқ озод этиладилар.
    </p>
    <h4>9.БОШКА ШАРТЛАР.</h4>
    <p>
9.1. Шартномага киритиладиган барча ўзгартиришлар ва қўшимчалар томонларнинг ёзма равишдаги, имзоланган қўшимча келишуви асосида амалга оширилади.
        <br>
9.2. Шартноманинг муддатидан олдин бекор килиниши факат икки томонлама келишув оркали амалга оширилади. Агар томонлар келишувга эриша олмасалар суд оркали бекор килинади.
        <br>
9.3.Шартномани бажаришдан бир томонлама (тўлиқ ёки қисман) бош тортишга тарафлардан бири шартномани жидддий бузган тақдирда йўл қўйилади.
        <br>
9.4.Шартномани бузиш қуйидаги ҳолларда жиддий деб топилади:
        <br>
- мазкур шартномада белгилаб қўйилган мажбуриятларни тарафлар томонидан бузилиши, умуман ёки лозим даражада бажарилмаслиги;
        <br>
- хизмат кўрсатиш муддатларини бир неча бор бузиш, тўлов шартларини бир неча бор бузиш.
        <br>
9.5. Агар ушбу шартномани бекор қилиш ёки ўзгартиришнинг бошқа муддати билдириш хатида назарда тутилмаган бўлса, шартнома бир тараф бошқа тарафдан шартномани бажаришдан тўла ёки қисман бир тарафлама бош тортиш тўғрисида билдириш хати олган пайтдан бошлаб ўзгартирилган ёки бекор қилинган ҳисобланади.
        <br>
9.6 Ушбу шартнома ўзбек тилида, тенг юридик кучга эга бўлган икки нусхада тузилган бўлиб бир нусхаси «Нодавлат таълим муассасаси”да иккинчиси эса «Ўқувчининг қонуний вакили (ота-онаси)»да сақланади ва тарафлар имзолагандан сўнг кучга киради.
    </p>
    <h4>10.ТОМОНЛАРНИНГ ЮРИДИК МАНЗИЛЛАРИ</h4>

<table>
    <tr>
        <th>
            «Нодавлат таълим муассасаси”
        </th>
        <th>
            «Ўқувчининг қонуний вакили (ота-онаси)»
        </th>
    </tr>
    <tr>
        <td>
            <h4>“GENNIS CAMPUS” НТМ</h4>
            Тошкент вилояти Бўстонлиқ тумани
            <br>
            Хўжакент қишлоғи Нурчилар МФЙ
            <br>
            Р/С 20208000805036132001  ИНН 306222218
            <br>
            Банк Халқ банки Бўстонлиқ туман филиали
            <br>
            МФО 00770
            <br>
            Тел: (94)3103333
            <br>
            Директор______________М.М.Юлдашов
            <br>
            М.П.
        </td>
        <td>
            Ф.И.О.______________________________
            ____________________________________
            <br>
            Паспорт маълумоти:
            <br>
            Серия__________________
            <br>
            Берилган вакти _____________________
            <br>
            Берилган жойи______________________
            ____________________________________
            <br>
            Манзили:___________________________
            ____________________________________
            ____________________________________
            <br>
            Имзо____________
        </td>
    </tr>
</table>
        <img src="{{ student.contract_image }}" alt="contract_image" width="1150px">
    {% endfor %}
</div>
</body>
</html>