* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.score {
  min-height: 600px;
}
.score .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.score__box {
  display: none;
  position: absolute;
  width: 400px;
  height: 580px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 152, 218, 0.63);
  border-radius: 20px;
  animation-name: slide;
  animation-duration: 1s;
}
.score__box_img {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid white;
}
.score__box_img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.score__box_fio {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score__box_fio_name {
  color: black;
  font-size: 26px;
  margin-bottom: 5px;
}
.score__box_fio_surname {
  color: black;
  font-size: 26px;
}
.score__box_check_attendance {
  display: flex;
  justify-content: space-evenly;
}
.score__box_check_attendance button {
  border: none;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}
.score__box_check_attendance button:nth-child(1) {
  background-color: white;
  color: limegreen;
}
.score__box_check_attendance button:nth-child(2) {
  background-color: red;
  color: white;
}
.score__box_cancel {
  display: flex;
  justify-content: center;
}
.score__box_cancel .cancel {
  display: none;
  background-color: #3B5998;
  color: white;
  border: none;
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
}
.score__box_absent {
  display: none;
  margin-top: 15px;
  flex-direction: column;
  align-items: center;
}
.score__box_absent h3 {
  text-align: center;
}
.score__box_absent button {
  margin-top: 15px;
  width: 120px;
  border: none;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: red;
  color: white;
}
.score__box_absent button a {
  text-decoration: none;
  color: white;
}
.score__box_balls {
  height: 250px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
}
.score__box_balls_box h3 {
  font-size: 19px;
  margin-bottom: 7px;
}
.score__box_balls_box_stars {
  font-size: 25px;
}
.score__box_balls_box_stars i {
  margin-left: 13px;
  color: white;
}
.score__box_balls_box_stars i:first-child {
  margin: 0;
}
.score__box_balls_box_stars .checked {
  color: #e6ff00;
}
.score__box:first-child {
  display: block;
}

input[type=number] {
  display: none;
}

input[type=submit] {
  margin: 0 auto;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #29cb31;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  box-shadow: 3px 3px 1px 1px black;
  cursor: pointer;
}
input[type=submit]:active {
  transform: scale(0.8);
}

.for_flash {
  background-color: #00568e;
  padding: 10px;
  align-self: center;
  position: fixed;
  display: flex;
  border-radius: 0 0 15px 15px;
}

.for_flash h1 {
  margin: 0;
  color: white;
  margin-right: 10px;
}

.for_flash button {
  width: 30px;
  border: none;
  color: white;
  background-color: red;
  cursor: pointer;
}

.for_icon {
  position: fixed;
  margin-top: 8px;
  align-self: flex-start;
}

.for_icon img {
  width: 70px;
}

@keyframes slide {
  from {
    left: -100%;
  }
  to {
    left: 50%;
  }
}

/*# sourceMappingURL=giving_score.css.map */
