# Default ignored files
/../../project_1./.idea/shelf/
/../../project_1./.idea/workspace.xml
# Datasource local storage ignored files
/../../project_1./.idea/dataSources/
/../../project_1./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../project_1./.idea/httpRequests/
